.hakkimizda {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    height: max-content;
    padding: 2rem;  
    box-shadow: var(--shadow);
}
.hakkimizda-text {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hakkimizda-text h1 {    
    font-size: clamp(3rem, 4vw, 4rem);
}
.hakkimizda button {
    align-self: center;
    justify-self: end;
    margin-right: 2rem;
    background-color: var(--white);
    color: var(--primary-color);
}
.hakkimizda button:hover {
    color: var(--white);
    background-color: var(--accent-color);
}
.tanitim {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));    
    width: 100%;
    min-height: 50vh;
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--shadow);
}
.tanitim h1 {
    font-size: clamp(3rem, 4vw, 4rem);
    text-align: center;
}
.tanitim img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    box-shadow: var(--shadow);
    transition: transform 0.5s ease;
}
.tanitim-text {
    text-overflow: ellipsis;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.tanitim-text button {
    align-self: flex-start;
    background-color: var(--accent-color);
}
.tanitim-text button:hover {
    background-color: white;
    color: var(--primary-color);
}
.boxs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    margin: 2rem 2rem;
}
.boxs .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
    font-weight: 500;
    height: 100px;
    gap: 0.5rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    transition: transform 0.6s ease, box-shadow 0.6s ease-in-out, color 0.6s ease-in-out;
    text-align: center;
}
.boxs .box:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 5px #ffb300c6; 
}
.boxs .box:hover .box-text {
    color: var(--accent-color);
}
.boxs .box img {
    transition: filter 0.3s ease;
}

.boxs .box:hover img {
    fill: #ffb400;
}

.boxs .box img {
    align-self: center;
    width: 25%;
    min-width: 40px;
    aspect-ratio: 1/1;
    transition: color 0.3s ease;
}
.products {
    margin: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.products .card {
    background-color: var(--white);
    border-radius: var(--radius);
    overflow: hidden;
    text-align: center;
    box-shadow: var(--shadow);
    transition: var(--transition);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.products .card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px  rgba(0, 0, 0, 0.2); 
}
.products .card img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.products .card:hover img { 
    transform: scale(1.05);
}
.products .card h3 {
    margin: 1rem;
}
.products .card p {
    margin: 0 1rem 1.5rem;
    flex-grow: 1;
}
.products .card button {
    margin: 0 1rem 1.5rem;
    align-self: flex-start;
}

@media screen and (max-width: 800px) {
    .boxs {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }    
}
@media screen and (max-width: 768px) {
    main {
        padding: 1rem;
    }
    .hakkimizda {
        grid-template-columns: 1fr !important;
    }
    
    .hakkimizda-text {
        margin-left: 0 !important;
    }
    .hakkimizda button {
        align-self: center;
        margin: 1rem auto;
    }
    .tanitim {
        grid-template-columns: 1fr;
    }
    .tanitim-text {
        margin-top: 1rem;
        text-align: center;
    }
    
    .tanitim-text button {
        align-self: center;
        margin: 1rem auto;
    }

}
@media screen and (max-width: 576px) {
    .boxs {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 480px) {
    .products {
        gap: 1rem;
    }
    .products .card {
        margin-bottom: 0;
    }
    .products .card button {
        align-self: center;
    }
}